@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
body 
{
    font-family: "Raleway", "Sans serif";
    font-size: 16px;
    margin: 0;
}
main
{
    max-width: 1440px;
    margin: 0 auto;
}
a
{
    text-decoration: none;
    color: inherit;
} 
.header 
{
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;   
}
.header-img 
{
    grid-area: logo;
    padding: 0 2rem;
    height: 2.8rem;
}
.header-nav 
{
    display: flex;
    align-items: center;
    grid-area: navbar;
}
.header-nav-link 
{
    padding: 2.18rem;
    font-weight: 500;
    text-align: center;
}
.header-nav-link[data-active=true]
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
.header-nav-link:hover 
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
.header-signup
{
    display: flex;
    align-items: center;
    color: #0065FC;
    font-weight: 600;
    grid-area: button;
}
.search-title h1
{
    font-size: 1.3rem;
}
.subtitle
{
    margin-bottom: 2rem;
}
.form
{
    display: inline-flex;
    max-width: 100%;
    position: relative;
}
.icon-location
{
    background-color:#F2F2F2;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
    padding: 1rem 1.25rem;
}
.search-town
{
    border-left: none;
    border-right: none;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    width: 14rem;
    font-weight: bold;
    font-size: 1rem;
    padding-left: 1rem;
    font-family: "Raleway", "Sans serif";
}
.search-town::placeholder 
{
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    color: black;
}    
.search-button
{
    font-weight: bold;
    color: white;
    background-color: #0065FC;
    border-radius: 0 1rem 1rem 0;
    border: none;
    font-family: "Raleway", "Sans serif";
    width: 7rem;
    cursor: pointer;
    position: relative;
    left: -15px;
}
h2
{
    font-size: 1rem;
}
.search-filter
{
    display: flex;
    margin-top: 2rem;  
    flex-wrap: wrap; 
}
.subtitle-filter
{
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
}
.filter 
{
    display: flex;
    text-align: center;
    border: 2px solid #F2F2F2;
    border-radius: 2rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}
.filter:hover
{
    background-color: #f3f8ff;
}
.icon-filter
{
    color: #0065FC;
    padding: 0.8rem;
    background-color: #DEEBFF;
    border-radius: 100%;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-filter
{
    margin: 0.7rem;
    padding-top: 0.2rem;
}
.info
{
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
}
.info-icon
{
    color: #0065FC;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    min-width: 32px;
    min-height: 32px;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}
.section-hebergement
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hebergements
{
    background-color: #F2F2F2;
    width: 57%;
    border-radius: 1rem;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 2rem;
}
.hebergements h3, h2
{
    width: 100%;
}
.heber-card
{
    background-color: white;
    border-radius: 1rem;
    width: 245px;
    height: 190px;
    padding: 0.2rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 20px grey;
    transition-duration: 0.1s;
    cursor: pointer;
}
.heber-img 
{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    height: 100px;
    object-fit: cover;
}
.heber-star
{
    color: #0065FC;
    position: relative;
    bottom: 2.5rem;
}
.heber-title, .heber-star
{
    padding-left: 1rem;
}
.heber-title, .heber-title p
{
    position: relative;
    bottom: 1rem;
}
.popular
{
    background-color: #F2F2F2;
    width: 375px;
    border-radius: 1rem;
    padding: 2rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}
.popular-title
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.popular-icon
{
    position: relative;
    top: 23px;
}
.popular-card
{
    background-color: white;
    border-radius: 1rem;
    width: 375px;
    height: 150px;
    padding: 0.2rem;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    margin: 1rem auto;
    transition-duration: 0.1s;
    cursor: pointer;
}
.popular-subtilte
{
    padding-left: 1rem;
    justify-content: start;
}
.popular-subtilte p
{
    position: relative;
    bottom: 1rem;
}
.popular-img 
{
    width: 125px;
    border-radius: 1rem 0 0 1rem;
    height: 100%;
    object-fit: cover;
}
.popular-star
{
    color: #0065FC;
    padding-left: 1rem;
}
.popular-star:nth-child(1)
{
    position: relative;
    top: 1rem;
}
.popular-star:nth-child(3)
{
    position: relative;
    top: 1rem;
}
.popular-contenu
{
    flex-direction: column;
}
.star[data-active=false]
{
    color: #F2F2F2;
}
.activités
{
    max-width: 1440px;
    margin: 3rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.activités h3
{
    width: 100%;
}
.card-tall 
{
    width: 22%;
    height: 500px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px grey;
    margin-bottom: 2rem;
    cursor: pointer;
    transition-duration: 0.1s;
}
.card-tall img
{
    width: 100%;
    height: 440px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}
.card-tall h4
{
    padding-left: 1rem;
    position: relative;
    bottom: 7px;
}
.card-small-1
{
    width: 100%;
    height: 264px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px grey;
    margin-bottom: 3rem;
    cursor: pointer;
    transition-duration: 0.1s;
}
.card-small-2
{
    width: 100%;
    height: 188px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px grey;
    margin-bottom: 2rem;
    cursor: pointer;
    transition-duration: 0.1s;
}
.card-small-3
{
    width: 100%;
    height: 218px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px grey;
    margin-bottom: 3rem;
    cursor: pointer;
    transition-duration: 0.1s;
}
.card-small-4
{
    width: 100%;
    height: 234px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px grey;
    margin-bottom: 2rem;
    cursor: pointer;
    transition-duration: 0.1s;
}
.card-small-1 img
{
    width: 100%;
    height: 204px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}
.card-small-2 img 
{
    width: 100%;
    height: 128px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}
.card-small-3 img
{
    width: 100%;
    height: 158px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}
.card-small-4 img
{
    width: 100%;
    height: 174px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}
.card-small-1 h4, .card-small-2 h4, .card-small-3 h4, .card-small-4 h4
{
    padding-left: 1rem;
    position: relative;
    bottom: 7px;
}
.card-column
{
    width: 22%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.footer
{
    background-color: #F2F2F2; 
}
.bande-footer
{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}
.liste-footer
{
    padding-top: 2rem;
    margin-right: 15%;
}
.liste-footer li
{
    padding-bottom: 1rem;
    list-style: none;
}


@media screen and (min-width: 1025px)
{
    .header
    {
        grid-template-columns: auto 1fr auto auto;
        grid-template-areas: "logo . navbar button";
    }
    .header-signup
    {
        margin-right: 2rem;
    }
    #loupe
    {
        display: none;
    }
    .form, .search-filter .info, .search-title
    {
        padding: 0 2rem;
    }
    .search-filter, .info
    {
        margin-left: 2rem;
    }
}
@media screen and (min-width: 1349px)
{
    .heber-card:hover, .popular-card:hover, .card-tall:hover, .card-small-1:hover,
    .card-small-2:hover, .card-small-3:hover, .card-small-4:hover
    {
        transform: scale(1.05);
    }
}    
@media screen and (max-width: 1349px)
{
    .popular
    {
        order: 1;
        width: 100%;
        border-radius: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        padding: 2rem 1rem;
    }
    .popular-title
    {
        width: 100%;
        margin: 0 1rem;
    }
    .popular-card
    {
        width: 30%;
    }
    .hebergements
    {
        order: 2;
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 2rem 1rem;
    }
    .hebergements h3, h2
    {
        margin: 1rem;
    }
    .heber-card
    {
        width: 28%;
        height: 210px;
        margin: 1rem;
    }
    .heber-img
    {
        height: 120px;
    }
    .liste-footer
    {
        margin-right: 10%;
    }
}
@media screen and (max-width: 1024px)
{
    .header-img
    {
        height: 3rem;
        padding: 0 1rem;
    }
    .header
    {
        padding-top: 2rem;
        font-size: 1rem;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .header-nav-link
    {
        border-bottom: 3px solid #F2F2F2;
        width: 50%;

    }
    .header-nav-link[data-active=true]
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    .header-nav-link:hover 
    {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }
    .header-signup
    {
        margin-right: 1rem;
    }   
    .search 
    {
        margin: auto;
        padding: 0 1rem;
    }
    .form
    {
        width: 100%;
    }
    .search-town
    {
        flex: 1;
    }
    .text-button
    {
        display: none;
    }
    .loupe 
    {
        display: block;
    }
    .search-button
    {
        border-radius: 1rem;
        width: 3.5rem;
    }
    .filter
    {
        margin-right: 0.5rem;
        margin-bottom: 1rem;
    }
    .hebergements h3, h2
    {
        margin: 1rem 0;
    }
    .popular-title
    {
        margin: auto 0;
    }
    .heber-card
    {
        margin: 1rem 0;
    }
    .subtitle-filter, .popular-card, .heber-card
    {
        width: 100%;
    }
    .activités
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem 1rem;
    }
    .card-tall, .card-small-1, .card-small-2, .card-small-3, .card-small-4
    {
        width: 100%;
        height: 190px;
        margin-bottom: 2rem;
    }
    .card-column
    {
        width: 100%;
        height: 444px;
    }

    .card-tall img, .card-small-1 img, .card-small-2 img, .card-small-3 img ,.card-small-4 img
    {
        height: 70%;
    }
    .footer
    {
        height: 600px;
    }
    .liste-footer
    {
        width: 100%;
        margin-left: 1rem;
    }
}
