@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
body 
{
    font-family: "Raleway", "Sans serif";
    margin: 0;
}
.header 
{
    display: grid;
    align-items: center;
    max-width: 1340px;
    margin: auto;
}
.headerImg 
{
    grid-area: logo;
}
.headerNav 
{
    display: flex;
    align-items: center;
    grid-area: navbar;
    ;
}
.headerNavLink 
{
    padding: 35px;
    font-weight: 500;
    text-align: center;
}
.headerNavLink[data-active=true]
{
    color: #0065FC;
}
.headerNavLink:hover 
{
    color: #0065FC;
}
#signup
{
    display: flex;
    align-items: center;
    color: #0065FC;
    font-weight: 600;
    padding-left: 35px;
}
a
{
    text-decoration: none;
    color: inherit;
}